._container {
    width: 100%;
    position: relative;
    top: 300px;
}
.footer {
    /* display: inline; */
    /* float: left; */

    font-size: smaller;
    overflow: hidden;   
    
}
/* .policies {
    
    width: 200px;
    margin: 5px;
} */
/* .social {
    display: inline-block;

} */
/* .accreditations {
    display: inline-block;
} */
.footer_item {
    display: block;
    /* width: wrap-content; */

    height: 200px;
    padding: 5px;
    
}
.copyright{
    font-size: small;
}